{% extends "base.html.j2" %}

{% block content %}
<h1>Articles</h1>
<ul>
{% for post in post_list %}
    <li>
        <a class="articlelist" href="{{ post.post_link }}">{{ post.post_title }}</a>
        <time datetime="{{ post.date_iso }}">{{ post.date }}</time>
    </li>
{% endfor %}
</ul>
{% endblock %}