.articlelist {
  text-decoration: none;
}

article {
  border: none;
}

footer span {
  margin-right: 2em;
}

a {
  text-decoration: none;
}

.icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}