<!DOCTYPE html>
<html lang="en-US">
<head>
  {% block title %}<title>{{ title or "swysocki.com" }}</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css">
  <link rel="stylesheet" href="/static/glightbox/glightbox.min.css">
  <link rel="stylesheet" href="/static/style.css" content-type="text/css">
</head>
<body>
<header>
  <a href="/" class="logo" aria-label="swysocki.com home"></a>
</header>
<main>
{% block content %}
{% endblock %}
</main>
<footer>
  <p>brought to you by<a href="/"> swysocki.com </a> &#x1F919;</p>
</footer>
<script src="/static/glightbox/glightbox.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (document.querySelector(".glightbox")) {
      GLightbox({ selector: ".glightbox" });
    }
  });
</script>
</body>
</html>
